body {
  background-color: black;
}

.meme-image {
  border: 5px solid white;
  width: 100%;/* Set width to a small value */
  height: 450px; /* Let the height adjust according to the aspect ratio */
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
